@model EduCareProject.ViewModels.AnnouncementsAssignments

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome back, @User.Identity.Name!</h1>
        <p class="lead">
            See what's new on <b>EduCare</b>:
        </p>
        <hr>
        <h2 class="display-8">Latest announcements</h2>
        @if (Model.Announcement != null)
        {
            <div class="card">
                <div class="card-header">
                    @Model.Announcement.Title
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Announcement.Description</p>
                    <a asp-controller="Announcement" asp-action="Index" class="btn btn-danger">See more announcements</a>
                </div>
            </div>
        }
        else
        {
            <p>There are no announcements yet</p>
            @if (User.IsInRole("Teacher"))
            {
                <a class="btn btn-danger" asp-controller="Announcement" asp-action="Create">Create the first one</a>
            }
        }
        <br />

        <h2 class="display-8">Latest assignments</h2>

        @if (Model.Assignment != null)
        {
            <div class="card">
                <div class="card-header">
                    @Model.Assignment.Title
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Assignment.Description</p>
                    <a asp-controller="Assignment" asp-action="Index" class="btn btn-danger">See more assignments</a>
                </div>
            </div>
        }
        else
        {
            <p>There are no assignments yet</p>
            @if (User.IsInRole("Teacher"))
            {
                <a class="btn btn-danger" asp-controller="Assignment" asp-action="Create">Create the first one</a>
            }
        }
        <br />
    </div>
</div>
